---
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    {% if page.date %}
    <title>{{ page.title }} | blog da Grifo</title>
    {% else %}
    <title>{{ page.title }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="http://blog.gri.fo/atom.xml" rel="alternate" title="blog da Grifo" type="application/atom+xml" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" title="GitHub Syntax Highlight" href="/styles/github.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24598886-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
{% if page.date %}
<body class="page">
{% else %}
<body>
{% endif %}
    <header id="sidebar">
        <a href="/" class="back">http://gri.fo</a>
        <hgroup>
            <h1><a class="logo" href="/blog">Grifo</a></h1>
            <p class="sub">Blog de desenvolvimento da Grifo. Técnicas de front-end, node.js, CSS3, HTML5 e design</p>
            <a href="https://twitter.com/grifotecnologia" class="twitter-follow-button" id="twitter-follow-button" data-show-count="false" data-lang="en" data-size="small">Follow @grifotecnologia</a>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fgrifotecnologia&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=326273014110834" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
        </hgroup>
    </header>
    
    <section id="main">
        {{ content }}
    </section>

    <script src="/scripts/highlight.pack.js"></script>
    <script>
        hljs.tabReplace = '    '
        hljs.initHighlightingOnLoad()
    </script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-52b580d3-a4a0-7663-2c94-4cce560bca24"}); </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>(function(){
        function trackOutbound(){
            window._gaq && _gaq.push ['_trackEvent', 'Outbound Link', this.href]
        }
        var links = document.getElementsByTagName('a')
        for (var i = 0, link; link = links[i]; i++){
            if (~link.href.indexOf(document.domain)) continue;
            if (link.addEventListener) link.addEventListener('mousedown', trackOutbound, null);
            else if (link.attachEvent) link.attachEvent('mousedown', trackOutbound);
        }
    })()
    </script>
</body>
</html>