---
layout: default
---
<article>
    <header>
        <h2>{{ page.title }}</h2>
        <div class="meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
            <ul class="tags">
                {% for tag in page.tags %}
                <li><a href="#/tag/{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>
    {{ content }}
    <footer>
        <span st_url="{{ page.url }}" class="st_facebook_hcount" displayText="Facebook"></span>
        <span st_url="{{ page.url }}" class="st_twitter_hcount" displayText="Tweet"></span>
    </footer>
</article>

{% if site.related_posts != empty %}
<aside class="related">
    <h3>Leia também:</h3>
    <ul class="posts">
    {% for post in site.related_posts limit:9 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</aside>
{% endif %}

<!-- START: Livefyre Embed -->
<script src="http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js"></script>
<script>var fyre = LF({ site_id: 305238 });</script>
<!-- END: Livefyre Embed -->
