---
layout: default
---
<article>
    <header>
        <h2>{{ page.title }}</h2>
        <div class="meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
            <ul class="tags">
                {% for tag in page.tags %}
                <li><a href="/tags/#!{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>

    {% if page.categories contains 'braziljs' %}
    <div class="braziljs-special clearfix">
        <div>
            <h1>Cobertura do evento</h1>
            <a href="/braziljs">Confira o que rolou no evento</a>
        </div>
        <img src="/images/logo-braziljs-small.png" alt="Brazil JS">
    </div>
    {% endif %}

    {{ content }}

    {% assign author = site.authors[page.author] %}
    {% include blog/author.html %}
    <footer>
        <span st_url="http://gri.fo{{ page.url }}" class="st_facebook_hcount" displayText="Facebook"></span>
        <span st_url="http://gri.fo{{ page.url }}" class="st_twitter_hcount" displayText="Tweet"></span>
    </footer>
</article>

{% if site.related_posts != empty %}
<aside class="related">
    <h3>Leia também:</h3>
    <ul class="posts">
    {% for post in site.related_posts limit:9 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</aside>
{% endif %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'blogdagrifo';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
