@charset "utf-8";
@media grifo {
  /*  
           _|_|_|            _|      _|_|                
         _|        _|  _|_|        _|        _|_|         
         _|  _|_|  _|_|      _|  _|_|_|_|  _|    _|       
         _|    _|  _|        _|    _|      _|    _|       
           _|_|_|  _|        _|    _|        _|_|         
      - 
         Client-side com inteligência                     
  */
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.3;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.vhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.vhidden.focusable:active,
.vhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@charset "utf-8";
@media grifo {
  /*  
           _|_|_|            _|      _|_|                
         _|        _|  _|_|        _|        _|_|         
         _|  _|_|  _|_|      _|  _|_|_|_|  _|    _|       
         _|    _|  _|        _|    _|      _|    _|       
           _|_|_|  _|        _|    _|        _|_|         
      - 
         Client-side com inteligência                     
  */
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.3;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.vhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.vhidden.focusable:active,
.vhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.woff') format('woff'), url('../fonts/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/Roboto-Condensed-webfont.eot');
  src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Condensed-webfont.woff') format('woff'), url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'), url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/Roboto-Thin-webfont.eot');
  src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Thin-webfont.woff') format('woff'), url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'), url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  background: #c33823 url(../images/bg-red.png);
  font-family: sans-serif;
}
body {
  min-width: 320px;
  min-height: 100%;
  background: url(../images/shadow-top.png) no-repeat center top;
  background-size: 100% auto;
  text-align: center;
}
a {
  text-decoration: none;
}
a,
a:hover,
a:visited,
a:active {
  color: #fafafa;
}
.button {
  box-shadow: inset -1px -2px 15px rgba(90, 0, 0, 0.2);
  border: 1px solid #900;
  border-color: #d44 #a22 #a22 #d44;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fafafa;
  -webkit-text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  -webkit-text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  height: 32px;
  line-height: 33px;
  padding: 0 12px;
  font-size: 18px;
  font-family: RobotoRegular;
  text-transform: uppercase;
  text-decoration: none;
}
.button:hover {
  box-shadow: inset 1px 2px 12px rgba(250, 90, 90, 0.3);
  color: #fff;
}
header {
  text-align: center;
  padding: 5% 20% 20px;
  overflow: hidden;
}
header h2 {
  font-family: RobotoCondensed, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0 0 20px;
}
@media only screen and (max-width: 800px) {
  header h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  header h2 {
    font-size: 14px;
  }
}
header h2 strong {
  font-family: RobotoLight, sans-serif;
  font-weight: 400;
}
header .logo {
  max-width: 600px;
}
#menu {
  margin: 40px 0 80px;
}
#menu li {
  display: inline;
  margin: 0 5px;
}
section h2 {
  font-size: 20px;
  font-family: RobotoThin;
  text-transform: uppercase;
  -webkit-text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  -webkit-text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.6);
  color: #fff;
  margin-bottom: 20px;
  min-height: 40px;
  line-height: 40px;
  background: url(../images/bg-header.png) no-repeat center center;
  background-size: 100% 100%;
}
@media only screen and (max-width: 600px) {
  section h2 {
    font-size: 20px;
  }
}
.content {
  max-width: 980px;
  padding: 20px 20px 40px;
  margin: 0 auto;
  color: #fcfcfc;
  -webkit-text-shadow: 0px 2px 2px rgba(60, 0, 0, 0.3);
  text-shadow: 0px 2px 2px rgba(60, 0, 0, 0.3);
  -webkit-text-shadow: 0px 2px 2px rgba(60, 0, 0, 0.3);
  text-shadow: 0px 2px 2px rgba(60, 0, 0, 0.3);
}
.content p,
.content ul {
  margin: 20px 0;
  line-height: 1.5;
  max-width: 640px;
  margin: 0 auto 20px;
}
.content p {
  padding: 0 10px;
}
.content a:hover {
  text-decoration: underline;
}
.blog a {
  display: block;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px 0;
}
.blog a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  outline: 1px solid #c63e2c;
}
.blog p {
  margin-bottom: 0;
}
.block {
  width: 100%;
  min-height: 200px;
  padding: 20px 0;
  margin: 20px 0;
  background: #222328;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}
.about li {
  font-size: 36px;
  color: #fafafa;
  font-family: RobotoRegular;
  -webkit-text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.2);
  -webkit-text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(150, 0, 0, 0.2);
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 34px;
  margin: 0 20px;
  padding: 0;
}
@media only screen and (max-width: 800px) {
  .about li {
    font-size: 28px;
  }
}
@media only screen and (max-width: 400px) {
  .about li {
    font-size: 16px;
    margin: 0 5px;
  }
}
.about li:before {
  margin-right: 8px;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.about .html:before {
  content: url(../images/logo-html5.png);
}
.about .css:before {
  content: url(../images/logo-css3.png);
}
.about .js:before {
  content: url(../images/logo-javascript.png);
}
.work p {
  font-size: 24px;
  font-family: RobotoLight;
  -webkit-text-shadow: none;
  text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  max-width: 940px;
}
.clientes {
  text-align: center;
}
.clientes h2 {
  margin-bottom: 0;
}
.clientes .block {
  margin-top: 0;
}
.clientes .block h2 {
  color: #aaa;
  text-shadow: -1px -1px 0 #111111;
  margin-bottom: 20px;
  background: transparent;
}
.clientes ul {
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (max-width: 980px) {
  .clientes ul {
    max-width: 90%;
  }
}
.clientes li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 20px;
}
.clientes li img {
  max-width: 240px;
}
@media only screen and (max-width: 400px) {
  .clientes li {
    margin: 20px 70px;
  }
}
.footer {
  color: #999;
}
.footer .block {
  padding: 40px 0;
}
.footer .address {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4;
}
.footer .map {
  float: right;
  margin-left: 20px;
}
.footer .map:hover {
  opacity: 0.9;
}
.footer p {
  margin-bottom: 20px;
}
@media only screen and (max-width: 640px) {
  .logo {
    width: 100%;
  }
  .work {
    margin-top: 0;
  }
  .work p {
    font-size: 18px;
  }
  .footer .map {
    float: none;
    clear: both;
    width: auto;
  }
  .footer p {
    margin: 20px 0;
  }
}
